{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo App - Something I Randomly Made</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  </head>
  <body>
    <h1>Todo App</h1>
    <form method="POST" action="{% url 'add-todo' %}">
      {% csrf_token %}

      <input type="text" name="title" placeholder="Name" required />
      <input type="text" name="description" placeholder="Description" />
      <input type="date" name="deadline_date" placeholder="Deadline" />

      <button type="submit" id="addTask">Add Task</button>
    </form>
    <h3>Your tasks:</h3>
    {% for item in todoitems %}
      <div class="todo-item" id="todo-{{ item.id }}">
        <p>{{ item.title }}</p>
        <p>{{ item.description }}</p>
        <p>Deadline: {{ item.deadline_date }}</p>
        <input type="checkbox" class="todo-checkbox" data-id="{{ item.id }}"></input>
      </div>
    {% endfor %}

    <script src="{% static 'js/mainscripts.js' %}"></script>
  </body>
</html>