body {
    max-width: 800px;
    font-family: Arial, sans-serif;
    margin: auto;
    background-color: #f9f9f9;
}

.todo-item {
    border: 1px solid #ccc;
    padding: 10px 30px 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #fff;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    gap: 4px 12px;
    align-items: center;
}

.todo-item p {
    margin: 0;
}

.todo-item input[type="checkbox"] {
    grid-column: 2;
    grid-row: 1 / span 3;
    justify-self: right;
    align-self: center;
}

.todo-item p:first-of-type {
    grid-column: 1;
    grid-row: 1;
    font-weight: 600;
}

.todo-item p:nth-of-type(2) {
    grid-column: 1;
    grid-row: 2;
    color: #666;
    font-size: 0.95rem;
}

.todo-item p:nth-of-type(3) {
    grid-column: 1;
    grid-row: 3;
    font-size: 0.9rem;
    font-weight: 500;
}